In [2]:
import pandas as pd
df = pd.read_csv('data/train.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

In [4]:
df[-1:]

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
96293,TRAIN_96293,8640000,36 months,10+ years,RENT,50400000,11.8,14,신용 카드,0,596148,274956.0,0.0,0.0,C